BODY {
	font-size: 12pt;
	font-family: Verdana,Arial,sans-serif;
}

#container {
	color: black;
	margin: 2em auto;
	max-width: 75em;
}

#content {
	float: right;
	width: 60em;
	max-width: 100%;
	line-height: 150%;
}
BODY.auth #content {
	float: none;
	margin: 1ex auto;
	width: 40em;
}

H1 {
	text-align: center;
	font-size: 200%;
	background-color:#1B7F1B; 
	color: white;
	padding: 1ex;
	font-variant: small-caps;
}
H2, H3 {
	color: black;
}

P {
	margin: 1em 0;
	text-align: justify;
}

BLOCKQUOTE {
	font-style: italic;
}

A:link, A:visited {
	color: #1B7F1B;
	padding: 2px;
}
A:hover {
	background-color: #1B7F1B;
	color: white;
}

#nav {
	float: left;
	width: 14em;
	margin-bottom: 3em;
}
#nav H2 {
	display: none;
}
#nav UL, #nav LI {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
#nav UL LI UL {
	margin-left: 2em;
}
#nav > UL {
	border-top: 1px solid #1B7F1B;
}
#nav UL LI A, #nav UL LI STRONG {
	display: block;
	padding: 4px 2px 4px 27px;
	border-bottom: 1px solid #1B7F1B;
	text-decoration: none;
}
#nav UL LI STRONG {
	background: #CDFFCD;
}
#nav UL LI A:link, #nav UL LI A:visited {
	color: #1B7F1B;
	background: #efe;
}
#nav UL LI A:hover, #nav UL LI STRONG {
	padding-left: 12px;
	border-left: 15px solid #1B7F1B;
	text-decoration: none;
	color: black;
	background: #CDFFCD;
}

#flashes {
	padding: 0 4em;
}
#flashes DIV {
	border: 2px solid black;
	border-radius: 8px;
	margin: 1em auto;
	padding: 1ex 2ex;
}
#flashes DIV.error {
	color: #900;
	border-color: #900;
	background-color: #FEE;
}
#flashes DIV.info {
	color: #00C;
	border-color: #00C;
	background-color: #EEF;
}

TABLE.assignments, TABLE.assignments TH, TABLE.assignments TD {
	border-collapse: collapse;
	padding: 4px 1ex;
}
TABLE.assignments {
	margin: 1ex auto;
	border: 2px solid black;
	border-width: 2px 0;
}
TABLE.assignments TH {
	border-bottom: 1px solid black;
	padding: 0.5ex 1em;
	text-align: center;
}
TABLE.assignments TD {
	text-align: center;
}
TABLE.assignments TD.name, TABLE.assignments TD.comment {
	text-align: left;
}

FORM.files FIELDSET {
	border: 0px none;
	margin: 0 0 1em 0;
	padding: 0;
	border-bottom: 1px solid #ccc;
}
FORM.files FIELDSET LEGEND {
	border: 0px none;
	margin: 0;
	font-size: 120%;
}
BODY.auth FORM {
	text-align: center;
}
BODY.auth FORM FIELDSET {
	border: 0px none;
	margin: 0 0 1em 0;
	padding: 0;
}
BODY.auth FORM FIELDSET LEGEND {
	font-size: 150%;
	border: 0px none;
	margin: 0 auto;
	padding: 0;
	width: 100%;
	text-align: center;
}
BODY.auth FORM FIELDSET DD {
	margin: 5px 0 1em 0;
}