admin/assign_edit.html.php
admin/assign_main.html.php
admin/assignment_edit.html.php
admin/assignment_list.html.php
admin/course_edit.html.php
admin/course_list.html.php
admin/download_main.html.php
admin/download_whole_course.html.php
admin/enroll_edit.html.php
admin/enroll_main.html.php
admin/grade_assignment.html.php
admin/grade_course_main.html.php
admin/grade_main.html.php
admin/grade_whole_course.html.php
admin/grade_whole_course_print.html.php
admin/main.html.php
admin/user_edit.html.php
admin/user_list.html.php
admin/user_reset_password.html.php
assignment/index.html.php
course/index.html.php
layout/default.html.php
login.html.php
main.html.php
password.html.php
sitedown.html.php

